.DS_Store
Thumbs.db

.idea/
.vscode/
.expo/
.g/
.gradle-user-home/
expo-env.d.ts

node_modules/
android/
!modules/expo-direct-delete/android/
!modules/expo-direct-delete/android/build.gradle
!modules/expo-direct-delete/android/src/
!modules/expo-direct-delete/android/src/**
modules/expo-direct-delete/android/build/
dist/
build/

*.log
gradle-build.log
.env
.env.*
.eslintcache
